#blog {
    padding-top: 5%;

    .blog-head {
        h2 {
            padding-left: 450px;
            padding-bottom: 8%;
            text-align: center;
            color: black;
            font-size: 2.8em;
            line-height: 0.9em;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
        }
    }

    .blog-cards {

        .cards {
            margin-left: 20px;
            background-color: white;
            margin-bottom: 20px;
            padding-bottom: 20px;

            img {
                border-radius: 5px;

            }

            h3 {
                margin-top: 2%;
                color: #1abc9c;
                text-align: center;
            }

            h6 {
                text-align: center;

                color: #1abc9c;
            }

            p {
                text-align: center;
                margin-top: 2%;
            }

            a {
                margin-left: 50%;
                background-color: #1abc9c;
                border-radius: 30px;
            }
        }
    }
    a {
        margin-left: 50%;
        background-color: #1abc9c;
        border-radius: 30px;
        margin-bottom: 20px;
    }
}