body {
  background-color: #ECF0F1;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.head {
  position: fixed;
}

.head a {
  text-decoration: none;
}

.head h1 {
  color: white;
}

.head .head-links {
  padding-left: 500px;
}

.head .head-links a {
  padding-left: 10%;
}

.head .head-links a p {
  color: white;
}

.head .head-links a p:hover {
  color: green;
  transition: 1s;
  transition-duration: 0s;
}

#home {
  width: 100%;
  height: 650px;
}

#home .home {
  position: sticky;
  padding: 15% 0% 0% 15%;
}

#home .home h1 {
  text-align: center;
  color: white;
}

#home .home p {
  color: white;
  text-align: center;
  padding-top: 5%;
}

#home .home a {
  margin-top: 5%;
  margin-left: 45%;
  text-decoration: none;
}

#services {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

#services .service .service-head h2 {
  font-size: 2.8em;
  line-height: 0.9em;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#services .service .service-items {
  text-align: center;
}

#services .service .service-items .items {
  padding-left: 5%;
}

#services .service .service-items .items .item-icon {
  text-align: center;
}

#services .service .service-items .items .item-icon i {
  font-size: 50px;
}

#services .service .service-items .items h3 {
  margin-top: 50px;
  font-size: 1.8em;
  line-height: 0.9em;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#services .service .service-items .items p {
  margin-top: 20px;
  margin-bottom: 10px;
  color: gray;
}

#services .service .service-items .items a {
  margin-top: 10px;
  text-align: center;
}

#work {
  padding-top: 10%;
}

#work .work-head h2 {
  padding-left: 450px;
  text-align: center;
  color: black;
  font-size: 2.8em;
  line-height: 0.9em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#work .work-category {
  padding-top: 5%;
  padding-left: 400px;
  padding-bottom: 5%;
  letter-spacing: 15px;
}

#work .work-items {
  padding-left: 2%;
}

#work .work-items img {
  padding-left: 10px;
  margin: 2%;
  width: 370px;
  border-radius: 7px !important;
}

#work .work-slide {
  padding-left: 5%;
  padding-bottom: 15%;
}

#work .work-slide #carouselExampleIndicators .carousel-inner .carousel-item {
  width: 1024px;
  height: 250px;
  text-align: center;
}

#work .work-slide #carouselExampleIndicators .carousel-inner .carousel-item i {
  font-size: 100px;
  color: #1abc9c;
  padding-bottom: 10%;
}

#work .work-slide #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
  padding-top: 15%;
}

#work .work-slide #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption p {
  color: black;
}

#work .work-slide #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h4 {
  color: black;
}

#blog {
  padding-top: 5%;
}

#blog .blog-head h2 {
  padding-left: 450px;
  padding-bottom: 8%;
  text-align: center;
  color: black;
  font-size: 2.8em;
  line-height: 0.9em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#blog .blog-cards .cards {
  margin-left: 20px;
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#blog .blog-cards .cards img {
  border-radius: 5px;
}

#blog .blog-cards .cards h3 {
  margin-top: 2%;
  color: #1abc9c;
  text-align: center;
}

#blog .blog-cards .cards h6 {
  text-align: center;
  color: #1abc9c;
}

#blog .blog-cards .cards p {
  text-align: center;
  margin-top: 2%;
}

#blog .blog-cards .cards a {
  margin-left: 50%;
  background-color: #1abc9c;
  border-radius: 30px;
}

#blog a {
  margin-left: 50%;
  background-color: #1abc9c;
  border-radius: 30px;
  margin-bottom: 20px;
}

#pricing {
  padding-top: 3%;
}

#pricing .p-btn {
  width: 80%;
  background-color: #1abc9c;
  border-radius: 30px;
  margin-bottom: 20px;
}

#pricing .pricing-head h2 {
  padding-left: 450px;
  padding-bottom: 8%;
  text-align: center;
  color: black;
  font-size: 2.8em;
  line-height: 0.9em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#pricing .pricing-items {
  justify-content: center;
}

#pricing .pricing-items .items {
  background-color: white;
  margin-left: 2%;
  width: 280px;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
}

#pricing .pricing-items .items h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0;
  padding: 0.6em 0;
  color: #1abc9c;
}

#pricing .pricing-items .items .p-circle {
  margin-left: 30%;
}

#pricing .pricing-items .items .p-circle p {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  color: #1abc9c;
  border: 2px solid #1abc9c;
  border-radius: 60px;
  background: transparent;
}

#pricing .pricing-items .items p {
  color: gray;
}

#team {
  padding-top: 5%;
}

#team a {
  text-decoration: none;
}

#team .team-head h2 {
  padding-left: 450px;
  padding-bottom: 8%;
  text-align: center;
  color: black;
  font-size: 2.8em;
  line-height: 0.9em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#team .team-items .team-item {
  background-color: white;
  margin-left: 3%;
  border: 2px solid gray;
  border-radius: 20px;
}

#team .team-items .team-item img {
  border-radius: 20px 20px 0px 0px;
  width: 250px;
}

#team .team-items .team-item .team-links {
  margin-top: 10%;
}

#team .team-items .team-item .team-links a {
  margin-left: 1%;
  padding-left: 13%;
}

#team .team-items .team-item .team-links a i {
  color: gray;
  text-align: center;
}

#team .team-items .team-item h5 {
  margin-top: 10%;
  text-align: center;
  color: gray;
}

#team .team-items .team-item p {
  text-align: center;
  color: #1abc9c;
}

#team .team-slide {
  padding-left: 5%;
  padding-bottom: 15%;
}

#team .team-slide #carouselExampleIndicators .carousel-inner .carousel-item {
  width: 1024px;
  height: 250px;
  text-align: center;
}

#contact .contact-head h2 {
  padding-left: 450px;
  padding-bottom: 8%;
  text-align: center;
  padding-top: 10%;
  color: black;
  font-size: 2.8em;
  line-height: 0.9em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#contact .contact-items h3 {
  font-size: 1.8em;
  line-height: .9em;
}

#contact .contact-items input {
  width: 100% !important;
  height: 50px;
  margin-bottom: 25px;
  border: 2px solid gray;
  border-radius: 10px;
}

#contact .contact-items textarea {
  border: 2px solid gray;
  border-radius: 10px;
  width: 100% !important;
  height: 150px;
}

#contact .contact-items .c-btn {
  margin-left: 50%;
  background-color: #1abc9c;
  border-radius: 30px;
  margin-bottom: 20px;
}

#footer {
  background-color: #2C2D31;
}

#footer h1 {
  color: white;
  margin-bottom: 10%;
}

#footer p {
  color: white;
}

#footer li {
  color: white;
}

#footer li:hover {
  color: green;
  transition: 0.6s;
}

#footer .f-items img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin: 5px;
}
